<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuvanduong.datvemaybay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.InitialApp"
        android:allowBackup="true"
        android:icon="@drawable/airplane"
        android:label="@string/app_name"
        android:roundIcon="@drawable/airplane"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mail.ConfirmCodeActivity"></activity>
        <activity android:name=".notify.NoiDungActivity" />
        <activity android:name=".notify.XemActivity" />

        <service
            android:name=".notify.NotifyService"
            android:label="@string/app_name" />

        <activity android:name=".activity.BookingSucessActivity" />
        <activity android:name=".activity.GetUserInfoActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity
            android:name=".activity.SelectFlightActivity"
            android:parentActivityName=".activity.BookingActivity" />
        <activity
            android:name=".activity.SelectAirportActivity"
            android:parentActivityName=".activity.BookingActivity" />
        <activity android:name=".activity.FlightActivity" />
        <activity android:name=".activity.CheckInActivity" />
        <activity android:name=".activity.BookingActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>