<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuvanduong.datvemaybay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.vuvanduong.datvemaybay.app.InitialVolley"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SelectFlightActivity"
            android:parentActivityName=".activity.BookingActivity"/>
        <activity
            android:name=".activity.SelectAirportActivity"
            android:parentActivityName=".activity.BookingActivity" />
        <activity android:name=".activity.FlightActivity" />
        <activity android:name=".activity.CheckInActivity" />
        <activity android:name=".activity.BookingActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>